$black: #000000;
$white: #ffffff;

// Background 
$bg-public : rgb(219,234,253);
$bg-public-gradient: linear-gradient(180deg, rgba(219,234,253,1) 21%, rgba(243,251,255,1) 56%, rgba(255,255,255,1) 100%);
$bg-aside: rgba(0, 0, 0, 0.8);
$bg-dashboard: #f3f4f6;
$bg-button-pagination: #E5E7EB;

// buttons:
$bg-dark-button: #18181b;
$border-radius-button: 8px;
$border-color: #e7eaef;


// Text
$text-blue: #305beb;
$text-error: #FF4C4C;

// Inputs
$border-input-color: rgb(229, 231, 235);
$border-radius-input: 8px;

$border-radius-container : 12px;
$box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);