$black: #000000;
$white: #ffffff;

// Background 
$bg-public : rgb(219,234,253);
$bg-public-gradient: linear-gradient(180deg, rgba(219,234,253,1) 21%, rgba(243,251,255,1) 56%, rgba(255,255,255,1) 100%);
$bg-aside: rgba(0, 0, 0, 0.8);

// buttons:
$bg-dark-button: #18181b;
$border-radius-button: 8px;
$border-color: #e7eaef;


// Text
$text-blue: #305beb;