.projects_template-container{
    width: 100%;
    padding: 30px 20px;

    .panel_projects-container{
        width: 100%;
        border-radius: $border-radius-container;
        background-color: $white;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        
    }
}